@tailwind base;
@tailwind components;
@tailwind utilities;


/* go this from dev.to to hide the scroll bar */
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}
@keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  
  .skeleton-shimmer {
    background: linear-gradient(90deg, #b07311 25%, #6c4609 50%, #b07311 75%);
    background-size: 200% 100%;
    animation: shimmer 2000ms infinite;
  }
  
body{
    font-family: 'roboto mono';
}